<div class="container">
  <h1 class="title">Tablero del Administrador</h1>
  <div class="row justify-content-center">
    <div class="card card-consensus">
      <a routerLink="../consensos" class="stretched-link"></a>
      <div class="card-body" style="text-align: center;">
        <h2 class="card-title" style="margin-top: 1.5rem;">Procesos de consenso</h2>
        <span id="icono" class="material-icons" style="margin-top: 0.2rem;">groups</span>
      </div>
    </div>
    <div class="card card-consensus">
      <a routerLink="../moderadores" class="stretched-link"></a>
      <div class="card-body" style="text-align: center;">
        <h2 class="card-title" style="margin-top: 1.5rem;">Moderadores</h2>
        <span id="icono" class="material-icons" style="margin-top: 0.2rem;">supervisor_account</span>
      </div>
    </div>
  </div>
</div>