<div class="content">
  <div class="titletop" style="margin-top: 3rem; justify-content:space-between; display: flex; flex-direction: row;">
    <h1 slot="start">Procesos de Consensos</h1>
  </div>
  <div class="container">
    <div class="grid">
      <mat-accordion class="shadow-none">
        <mat-expansion-panel [expanded]="true" class="shadow-sm" *ngIf="existNoInit">
          <mat-expansion-panel-header [expandedHeight]="'50px'" [collapsedHeight]="'50px'">
            <mat-panel-title>
              No iniciados
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row" style="margin-top: 2rem;">
            <div class="card" *ngFor="let c of consensosNoInit">
              <div class="card-body" style="text-align: center;">
                <h1 class="card-title">{{c.nombre_consenso}}</h1>
                <p>{{c.descripcion}}</p>
                <p>Estado: {{c.estado}}</p>
                <p>Nivel de consenso: {{c.nivel}}</p>
                <p>Rondas: {{c.rondas}}</p>
                <button mat-raised-button color="primary" (click)="configuracion(c.id)">Configurar</button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true" class="shadow-sm" *ngIf="existInit">
          <mat-expansion-panel-header [expandedHeight]="'50px'" [collapsedHeight]="'50px'">
            <mat-panel-title>
              Iniciados
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row" style="margin-top: 2rem;">
            <div class="card" *ngFor="let ci of consensosInit">
              <div class="card-body" style="text-align: center;">
                <h1 class="card-title">{{ci.nombre_consenso}}</h1>
                <p>{{ci.descripcion}}</p>
                <p>Estado: {{ci.estado}}</p>
                <p>Nivel de consenso: {{ci.nivel}}</p>
                <p>Rondas: {{ci.rondas}}</p>
                <button mat-raised-button color="primary" (click)="configuracion(ci.id)">Ver configuración</button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true" class="shadow-sm" *ngIf="existPausados">
          <mat-expansion-panel-header [expandedHeight]="'50px'" [collapsedHeight]="'50px'">
            <mat-panel-title>
              Pausados
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row" style="margin-top: 2rem;">
            <div class="card" *ngFor="let ci of consensosPausados">
              <div class="card-body" style="text-align: center;">
                <h1 class="card-title">{{ci.nombre_consenso}}</h1>
                <p>{{ci.descripcion}}</p>
                <p>Estado: {{ci.estado}}</p>
                <p>Nivel de consenso: {{ci.nivel}}</p>
                <p>Rondas: {{ci.rondas}}</p>
                <button mat-raised-button color="primary" (click)="configuracion(ci.id)">Ver configuración</button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true" class="shadow-sm" *ngIf="existFinalizados">
          <mat-expansion-panel-header [expandedHeight]="'50px'" [collapsedHeight]="'50px'">
            <mat-panel-title>
              Finalizados
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row" style="margin-top: 2rem;">
            <div class="card" *ngFor="let ci of consensosFinalizados">
              <div class="card-body" style="text-align: center;">
                <h1 class="card-title">{{ci.nombre_consenso}}</h1>
                <p>{{ci.descripcion}}</p>
                <p>Estado: {{ci.estado}}</p>
                <p>Nivel de consenso: {{ci.nivel}}</p>
                <p>Rondas: {{ci.rondas}}</p>
                <button mat-raised-button color="primary" (click)="configuracion(ci.id)">Ver resultado</button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Cargando proceso de consenso. </p>
</ngx-spinner>