<nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom py-3">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1">App Consensus</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link" routerLink="home">
                Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="consensos">Procesos de consenso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="moderadores">Moderadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="enviarnotificacion">Enviar notificación</a>
          </li>
        </ul>
        <form class="d-flex">
            <button class="me-2" color="accent" mat-button (click)="logout()">
                Cerrar sesión
            </button>
        </form>
      </div>
    </div>
  </nav>

  <main class="container">
    <router-outlet></router-outlet>
    <div class="container-fluid">
        <app-footer></app-footer>
    </div>
  </main>