<nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom py-3">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1">App Consensus</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="listaConsensos">Procesos de consenso</a>
          </li>
        </ul>
        <form class="d-flex dropdown nav-item">
          <a class="nav-link menu-item dropdown-toggle me-2" (click)="openDropDown()"
          role="button" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"  aria-expanded="false" >
            {{username}}
          </a>
          <div [ngClass]="{'show': toggleFlag}"  role="menu" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
            <a class="dropdown-item" (click)="openDropDown()" >Cancelar </a>
            <a class="dropdown-item" (click)="logout()" >Cerrar sesión</a>

          </div>
            <!-- <button class="me-2" color="accent" mat-button (click)="logout()">
                Cerrar sesión
            </button> -->
        </form>
      </div>
    </div>
  </nav>
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item">Action</a>
          <a class="dropdown-item">Another action</a>
          <a class="dropdown-item">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav> -->

  <main class="container">
    <router-outlet></router-outlet>
    <div class="container-fluid">
        <app-footer></app-footer>
    </div>
  </main>