<div class="container">
    <h1 class="title">Tablero del Administrador</h1>
    <div class="row justify-content-center">
        <div class="card card-consensus">
            <a routerLink="/appModerador/consensos" class="stretched-link"></a>
            <div class="card-body" style="text-align: center;">
                <h2 class="card-title" style="margin-top: 1.5rem;">Procesos de consenso</h2>
                <span id="icono" class="material-icons" style="margin-top: 0.2rem;">groups</span>
            </div>
        </div>
        <div class="card card-consensus">
            <a routerLink="/appModerador/nuevoconsenso" class="stretched-link"></a>
            <div class="card-body" style="text-align: center;">
                <h2 class="card-title" style="margin-top: 1.5rem;">Nuevo proceso de consenso</h2>
                <span class="material-icons">
                    group_add
                </span>
            </div>
        </div>
    </div>
</div>