<div class="content" *ngIf="consenso">
  <div class="titletop" style="margin-top: 3rem; justify-content:space-between; display: flex; flex-direction: row;">
    <h1 slot="start">{{consenso?.nombre_consenso}}</h1>
  </div>
  <div class="container">
    <div class="grid">
      <div class="row">
        <div class="d-flex justify-content-between" style="margin-top: 2%;">
          <div class="mr-auto p-2">
            <h2>
              Ronda {{ronda}}
            </h2>
          </div>
        </div>
      </div>
      <mat-accordion class="shadow-none">
        <mat-expansion-panel (opened)="iniciarItem(suit, unsuit, item.nombre)" *ngFor="let item of items"
          class="shadow-sm">
          <mat-expansion-panel-header [expandedHeight]="'50px'" [collapsedHeight]="'50px'">
            <mat-panel-title style="color: #182b4d; align-items: center !important  ;">
              <mat-icon class="material-icons">assignment</mat-icon> {{item.nombre}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <h3 style="margin-top: 1%;" class="titulos-evaluacion text-center">Información del ítem</h3>
            <div class="card mb-3" style="margin-top: 1rem;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{{item.foto}}" style="height: 240px;
                  width: 240px;
                  object-fit:fill;" onerror="this.src = '../../../assets/no_image.png'"
                    class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{item.nombre}}</h5>
                    <p class="card-text">{{item.descripcion}}</p>
                    <table *ngIf="item.metadata.length > 0" mat-table [dataSource]="item.metadata" class="shadow-sm">
                      <ng-container matColumnDef="Clave">
                        <th mat-header-cell *matHeaderCellDef> Clave </th>
                        <td mat-cell *matCellDef="let element"> {{element.clave}} </td>
                      </ng-container>

                      <ng-container matColumnDef="Descripción">
                        <th mat-header-cell *matHeaderCellDef> Valor </th>
                        <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumnsmeta"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsmeta;"></tr>
                    </table>
                    <div *ngIf="itemsRondaPrevEdit.length > 0">
                      <h4 class="subtitulos-evaluacion eval-prev">Evaluación individual previa</h4>
                      <table>
                        <thead>
                          <tr>
                            <th>Item</th>
                            <th>Nivel aceptación - Razones</th>
                            <th>Nivel rechazo - Razones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let r of itemsRondaPrevEdit">
                            <td *ngIf="r.nombreItem == item.nombre">{{r.nombreItem}}</td>
                            <td *ngIf="r.nombreItem == item.nombre">{{r.aceptacion}}</td>
                            <td *ngIf="r.nombreItem == item.nombre">{{r.rechazo}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <h4 class="subtitulos-evaluacion eval-prev">Sugerencias</h4>
                      <div *ngFor="let sugerencia of sugerencias">
                        <div *ngIf="item.nombre == sugerencia.nombreItem">
                          <div class="d-flex justify-content-between">
                            <div class="mr-auto p-2">
                              <h4 class="subtitulos-evaluacion">{{sugerencia.nombreItem}}</h4>
                            </div>
                          </div>
                          <div *ngFor="let s of sugerencia.sugerencia">
                            <ul *ngIf="s.tema=='suitable'">
                              <li *ngIf="s.incrementar">Acción sugerida: Incrementar {{s.valor}} a su nivel de
                                aceptación
                                <div>
                                  Tomar en cuenta los siguientes atributos
                                  <ul *ngFor="let atributo of s.atributos">
                                    <li>{{atributo}}</li>
                                  </ul>
                                </div>
                              </li>
                              <li *ngIf="!s.incrementar">Acción sugerida: Decrementar {{s.valor}} a su nivel de
                                aceptación</li>
                            </ul>
                            <ul *ngIf="s.tema=='unsuitable'">
                              <li *ngIf="s.incrementar">Acción sugerida: Incrementar {{s.valor}} a su nivel de rechazo
                                <div>
                                  Tomar en cuenta los siguientes atributos
                                  <ul *ngFor="let atributo of s.atributos">
                                    <li>{{atributo}}</li>
                                  </ul>
                                </div>
                              </li>
                              <li *ngIf="!s.incrementar">Acción sugerida: Decrementar {{s.valor}} a su nivel de rechazo
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <h3 style="margin-top: 1%;" class="titulos-evaluacion text-center">Evaluación</h3>
          <div class="d-flex justify-content-between" style="margin-top: 1%;">
            <div class="mr-auto p-2">
              <h4 class="type-eval">Aceptación</h4>
            </div>
          </div>

          <div class="row">

            <div class="col-md-12">
              <!-- <p style="padding: 0 8px;" class="subtitulos-evaluacion">Otorgue un valor para la
                  <strong>aceptación</strong> de {{item.nombre}} </p> -->
              <div class="col-md-12" style="margin-top: 1%; display: flex;justify-content: center;padding: 0 8px;">
                <div>
                  <p style="margin-top: 1%;margin-right: 1rem;">Nivel de aceptación:</p>
                </div>
                <mat-slider [(ngModel)]="valueSetSuit" #suit (change)="cambiarSlider(true,$event.value)" value="$event.value"
                  thumbLabel [displayWith]="setsuitable" min="0" max="100" tickInterval="10">
                </mat-slider>
                {{auxsuit}}
              </div>
              <p style="padding: 0 8px;" class="subtitulos-evaluacion">Seleccione atributos que favorecen la
                <strong>aceptación</strong> de {{item.nombre}}
              </p>
              <div style="display: flex;justify-content: center;">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Atributo</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Seleccionar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let i of item.atributosaceptacion">
                      <td>{{ i.atributo }}</td>
                      <td>{{ i.valor }}</td>
                      <td>
                        <mat-checkbox (change)="onChangeSuitable(i.id)"></mat-checkbox>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="d-flex justify-content-end" style="margin-top: 2%;">
                <div class="ml-auto p-2">
                  <button mat-raised-button class="btn-atributos" (click)="newAttribute('aceptacion', item)">
                    Añadir atributo de aceptación
                  </button>
                </div>
              </div>
            </div>

          </div>
          <div class="d-flex justify-content-between" style="margin-top: 1%;">
            <div class="mr-auto p-2">
              <h4 class="type-eval">Rechazo</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12" style="margin-top: 1%; display: flex;justify-content: center;padding: 0 8px;">
                <div>
                  <p style="margin-top: 1%;margin-right: 1rem;">Nivel de rechazo:</p>
                </div>
                <mat-slider [(ngModel)]="valueSetUnSuit" (change)="cambiarSlider(false,$event.value)" value="$event.value"
                  #unsuit thumbLabel [displayWith]="setunsuitable" min="0" max="100" tickInterval="10">
                </mat-slider>
                {{auxunsuit}}
              </div>
              <p style="padding: 0 8px; font-style: italic;">Seleccione atributos que favorecen el
                <strong>rechazo</strong> de {{item.nombre}}
              </p>
              <div style="display: flex;justify-content: center;">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Atributo</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Seleccionar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let i of item.atributosrechazo">
                      <td>{{ i.atributo }}</td>
                      <td>{{ i.valor }}</td>
                      <td>
                        <mat-checkbox (change)="onChangeUnSuitable(i.id)"></mat-checkbox>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="d-flex justify-content-end" style="margin-top: 2%;">
                <div class="ml-auto p-2">
                  <button mat-raised-button class="btn-atributos" (click)="newAttribute('rechazo', item)">
                    Añadir atributo de rechazo
                  </button>
                </div>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="row" style="margin-top: 2rem;padding-bottom: 2rem;">
            <div class="col-md-12" style="display: flex;justify-content: space-evenly;">
              <button mat-flat-button color="accent" (click)="guardarEvaluacionItem(item)">Guardar evaluación de
                {{item.nombre}}</button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="d-flex justify-content-center" style="margin-top: 4%;">
        <button mat-raised-button color="primary" (click)="guardarEvaluacionParticipante()">Enviar evaluación</button>
      </div>
    </div>
  </div>
</div>
